.modal {
    .form-control {
        &::placeholder {
            color: $secondary;
        }
    }
    .no-resize {
        resize: none;
    }
    .img-thumbnail {
        width: 100%;
        max-height: 300px;
        height: 100%;
        object-fit: cover;
    }
    .thumbnails {
        .img-thumbnail {
            max-height: 100px;
        }
    }
    .image-preview-thumbnail-container {
        position: relative;
        width: 100px;
        height: 100px;
        margin: 5px;
        border: 1px solid #dee2e6;
        border-radius: 8px;
        overflow: hidden;
        transition: all 0.2s;

        &.main-image {
            box-shadow:
                0 0 0 3px $primary,
                0 0 0 6px #fff;

            &::before {
                content: '主圖';
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 2px 6px;
                background-color: #0009;
                color: #fff;
                font-size: 12px;
                border-top-right-radius: 8px;
                z-index: 10;
            }
        }
    }
    .image-preview-thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .btn-delete-image {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 24px;
        height: 24px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        z-index: 20;
    }

    li {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 992px) {
    .modal {
        .col-lg-4 .img-fluid {
            width: 100%;
            max-height: 200px;
        }
    }
}
