.pagination {
    .page-item {
        border: none;
        border-radius: 8px;
        border: 1px solid rgba($black, 0.15);
        width: 34px;
        height: 34px;
        overflow: hidden;

        &.active {
            border: 1px solid $primary;
            .page-link {
                color: $white;
                background: $primary;
            }
        }

        &:first-child,
        &:last-child {
            .page-link {
                color: rgba($black, 0.5);
            }

            &.disabled .page-link {
                color: rgba($black, 0.25);
                background: lighten($black, 90%);
            }
        }
    }
    .page-item:not(:first-child) .page-link {
        margin-left: initial;
    }
    .page-link {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 100%;
        height: 100%;
        color: rgba($black, 0.5);
        font-weight: 500;
        line-height: 0;

        &:hover {
            background: lighten($black, 95%);
        }
    }
}
