.cart {
    .cart-img {
        border-radius: 0.5rem;
        max-width: 100px;
        width: 100%;
        height: 100px;
        overflow: hidden;

        @include media-breakpoint-down(md) {
            min-width: 120px;
            width: 100%;
            height: 120px;
        }

        @include media-breakpoint-down(sm) {
            min-width: 100px;
            width: 100%;
            height: 100px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .cart-edit {
        max-width: 200px;
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
    }

    .btn-outline-primary,
    .text-danger {
        line-height: 0;
    }

    .text-danger {
        border: none;
    }

    .cartPrice {
        position: sticky;
        top: 100px;

        @include media-breakpoint-down(xl) {
            position: relative;
            top: 0;
        }
    }
}
