.login {
    position: relative;
    background: $white;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url('https://images.unsplash.com/photo-1436491865332-7a61a109cc05?q=80&w=2000&auto=format&fit=crop')
            no-repeat center bottom;
        background-size: cover;
        background-attachment: fixed;
        opacity: 0.08;
        filter: grayscale(100%);
    }

    .container {
        position: relative;
    }

    .login-img {
        position: relative;
        max-width: 570px;
        min-height: 80vh;
        width: 100%;
        height: 100%;
        background: url('https://images.unsplash.com/photo-1493976040374-85c8e12f0c0e?q=80&w=2000&auto=format&fit=crop')
            no-repeat center;
        background-size: cover;
        overflow: hidden;

        @include media-breakpoint-down(xxl) {
            max-width: 480px;
        }

        @include media-breakpoint-down(xl) {
            max-width: 360px;
        }

        @include media-breakpoint-down(lg) {
            max-width: 992px;
            min-height: 20vh;
        }
    }

    .login-box {
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
    }

    .form-control {
        padding: 0.75rem;
        padding-left: 2.75rem;
    }

    .form-group {
        .material-symbols-outlined {
            position: absolute;
            padding: 0.25rem;
            left: 0.5rem;
            bottom: 0.5rem;
            opacity: 0.75;
        }
    }
}
