.productDetail {
    position: relative;

    .product-img {
        position: relative;
        width: 100%;
        height: 350px;
        top: 0;
        overflow: hidden;

        @include media-breakpoint-down(md) {
            height: 250px;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent);
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .text-dark {
        li {
            margin-bottom: 0.5rem;
            text-align: justify;
        }
    }

    .detail-img {
        max-width: 300px;
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
        overflow: hidden;

        @include media-breakpoint-down(md) {
            max-width: 800px;
            height: 320px;
        }

        @include media-breakpoint-down(sm) {
            height: 250px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .productPrice {
        position: sticky;
        top: 100px;

        @include media-breakpoint-down(xl) {
            position: relative;
            top: 0;
        }

        .btn-outline-primary {
            line-height: 0;
        }
    }
}
